Resources:
  lifecyclehook:
    Type: AWS::AutoScaling::LifecycleHook
    DeletionPolicy: Retain
    Properties:
      AutoScalingGroupName: { "Ref" : "AWSEBAutoScalingGroup" }
      LifecycleTransition: autoscaling:EC2_INSTANCE_TERMINATING
      NotificationTargetARN:
        "Fn::GetOptionSetting":
            Namespace: "aws:elasticbeanstalk:customoption"
            OptionName: "SNSTopic"
            DefaultValue: "SNSTopic"
      RoleARN:
        "Fn::GetOptionSetting":
            Namespace: "aws:elasticbeanstalk:customoption"
            OptionName: "ElasticBeanstalkRoleARN"
            DefaultValue: "aws-elasticbeanstalk-ec2-role"