Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "S3"
          buckets: ["piq-dev-assets"]
          roleName: 
            "Fn::GetOptionSetting": 
                Namespace: "aws:elasticbeanstalk:customoption"
                OptionName: "ElasticBeanstalkRole"
                DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private key
    "D:\\DSC\\Scripts\\dsc-scripts.zip":
        authentication: "S3Auth"
        source: https://s3-external-1.amazonaws.com/piq-dev-assets/config/dsc-scripts.zip