sources:  
  "D:/DSC": https://s3-external-1.amazonaws.com/piq-dev-assets/WebSites/dsc-scripts.zip
  "D:/KeepingScore": https://s3-external-1.amazonaws.com/piq-dev-assets/WebSites/piq-ws-aws.zip
  "D:/Performer": https://s3-external-1.amazonaws.com/piq-dev-assets/WebSites/piq-ws-aws.zip
commands:
  01-prepare_instance:
    command: powershell.exe -ExecutionPolicy Bypass -File D:\DSC\dsc-scripts\prepare-instance-for-configuration.ps1 -DropFolder D:\DSC -ParameterFile D:\DSC\dsc-scripts\prepare-instance-for-configuration-piq-dev-parameters.json
    waitAfterCompletion: 10
  02-add-instance-to-domain:
    command: powershell.exe -ExecutionPolicy Bypass -File D:\DSC\dsc-scripts\add-application-instance-to-domain.ps1 -DropFolder D:\DSC -ParameterFile D:\DSC\dsc-scripts\add-application-instance-to-domain-piq-dev-ws-parameters.json
    waitAfterCompletion: 60
  03-create-app:
    command: powershell.exe -ExecutionPolicy Bypass -File D:\DSC\dsc-scripts\create-application-instance-from-ami.ps1 -DropFolder D:\DSC -ParameterFile D:\DSC\dsc-scripts\create-application-instance-from-ami-piq-dev-ws-parameters.json
    waitAfterCompletion: 10
